<div class="container">
    <form (submit)="onSubmit()">
        <input type="text" id="name" [(ngModel)]="articlePost.name" name="name">
        <textarea id="description" [(ngModel)]="articlePost.description" name="description" id="" cols="30"
            rows="10"></textarea>
        <button type="submit">Submit</button>
    </form>
    <section class="articles" id="articles">

        <article role="article" *ngFor="let art of articles" id={{art.id}}>
            <h2>{{art.name}}</h2>
            <img src="" alt="hình gì đó chưa biết">
            <p>Trạng thái: <span>{{art.status}}</span></p>
            <p>{{art.description}}</p>
            <button>Mượn</button>
        </article>
    </section>
</div>